* {
    margin: 0;
    padding: 0;
}
body{
	background: rgb(240,241,245);
}
.content{
	width: 1150px;
	height: auto;
	margin: 0 auto;
	/*border: 1px solid blueviolet;*/
}
.side{
	float: left;
	width: 86px;
	height: 250px;
	/*border: 1px solid sandybrown;*/
	background-color: white;
	border-radius: 10px;
	overflow: hidden;
}
.side img{
	margin-left: 21px;
	margin-top: 20px;
}
.side p{
	margin-left: 31px;
	font-size: 18px;
	font-family: "微软雅黑";
	color: darkgray;
}
.L{
	width: 800px;
	height: auto;
	float: left;
	/*margin-left: 15%;*/
	/*border: 1px solid sandybrown;*/
	margin-bottom: 70px;
	/*background-color: white;
	border-radius: 15px;*/
}
.footer{
	width: 100%;
	height: 260px;
	background-color: white;
	position: absolute;
	/*margin-top: 10px;*/
	/*display: block;*/
	top: 200;
}
.main{
	width: 700px;
	height: 500px;
	float: right;
	background-color: white;
	border-radius: 15px;
}
.discuss{
	width: 700px;
	height: 280px;
	float: right;
	background-color: white;
	border-radius: 15px;
	margin-top: 20px;
	font-family: "微软雅黑";
}
.discuss >.textarea{
	width: 605px;
	height: 145px;
	border: 1px solid lightgray;
	border-radius: 10px;
	margin-left: 50px;
}
.discuss >.textarea textarea{
	margin-left: 15px;
	margin-top: 10px;
	outline: none;
	font-family: '微软雅黑';
	font-size: 15px;
	border: none;

}
/* 滚动条框设置 */
.discuss >.textarea textarea::-webkit-scrollbar {
	width: 12px;
	background-color: darkgray;
}
/* 滚动条的设置 */
.discuss >.textarea textarea::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: skyblue;
}

.discuss >.button{
	float: right;
	margin-right: 45px;
	margin-top: 15px;
}
.discuss >.button button{
	padding: 8px 35px;
	font-family: "微软雅黑";
	font-size: 18px;
	font-weight: bold;
	background-color: dodgerblue;
	color: white;
	border: none;
	border-radius: 5px;
}
.discuss >.button button:hover{
	background-color: deepskyblue;
}
.reply{
	width: 700px;
	height: auto;
	float: right;
	padding-bottom:50px ;
	background-color: white;
	border-radius: 15px;
	margin-top: 20px;
	font-family: "微软雅黑";
}
.reply h3{
	width: 77px;
	margin-left: 40px;
	padding: 10px 0px;
	border-bottom: 4px solid #00BFFF;
}
.reply >.name{
	width: auto;
	height: 155px;
	/*border: 1px solid #00BFFF;*/
	margin-top: 18px;
}
.reply >.name img{
	/*border: 4px solid gold;*/
	margin: 5px 15px 5px 40px;
}
.reply >.name span{
	position: absolute;
	margin-top: 21px;
}
.reply >.textarea{
	width: 530px;
	height: 250px;
	border: 1px solid #00BFFF;
	margin-left: 115px;
	margin-top: 25px;
}
.reply >.textarea textarea{
	font-family: '微软雅黑';
	font-size: 15px;
	border: none;
}
.reply >.answer{
	width: 530px;
	height: 250px;
	margin-left: 115px;
	margin-top: 25px;
	border-radius: 15px;
	background-color: rgb(248,242,248);
	border-bottom: 50px;
}
.reply >.answer >.name1	{
	position: absolute;
	width: 150px;
	margin-top: 15px;
	margin-left: 25px;
	border: 1px solid #00BFFF;
}
.reply >.answer >.name1 span{
	position: absolute;
	margin-top: 3px;
	color: dodgerblue;
	font-weight: bold;

}
.R{
	width: 315px;
	float: right;
	position: relative;
	/*margin-top: 5px;*/
	margin-right: 5px;
	/*border: 1px solid green;*/
}
.information{
	width: 310px;
	height: 150px;
	border-radius: 15px;
	/*border: 1px solid brown;*/
	background-color: white;
	margin-bottom: 10px;
}
/*.information:hover{background-color: rgba(255,252,255,0);*/
.information >.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: relative;
	top: 50%;
	left: -190px;
}
.information >.text{
	font-family: "微软雅黑";
	/*border: 1px solid green;*/
	position: absolute;
	margin-left: 145px;
	margin-top: -67.5px;
}
.information >.text >.follow{
	text-decoration:none ;
	position: relative;
	margin-top: 92px;
	margin-right: -115px;
	padding: 8px 30px;
	background-color: rgba(0,0,0,0);
	border-radius: 5px;
	border: none;
	border: 1px solid deepskyblue;
	font-size: 17px;
	font-family: "微软雅黑";
	color: deepskyblue;
	float: right;
}
.follow:hover{background-color: rgb(56,208,255);}
/*#anniu:active{background-color: lightgray;}*/
.true{
  display: inline;
}

.false{
 display: none;
}

.R1{
	width: 310px;
	height: 180px;
	/*float: right;*/
	position: relative;
	margin-top: 20px;
	/*margin-right: 5px;*/
	/*border: 1px solid brown;*/
	border-radius: 15px;

}
.R11{
	width: 310px;
	height: 145px;
	/*float: right;*/
	/*border: 1px solid red;*/
	background-color: white;
	background: rgba(255,255,255,0.9);
	border-radius: 15px;
	position: relative;
	margin-top: 2px;
	/*margin-top: 10px;*/
	}
.R11 li{
	list-style: none;
	margin: 7px;
	margin-right: 10px;
	}
.R11 img{
	margin: 10px;
	padding-top: 5px;
	padding-left: 10px;
	}
.R11 a{
	display: block;
	text-decoration: none;
	font-size: 15px;
	font-weight:bold;
	font-family: "微软雅黑";
				/*font-style:italic;*/
	color: white;
	width: 150px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border: 1px solid white;
	border-radius: 10px;
	margin: 5px 0;
	float: right;
}
.R2{
	width: 310px;
	height: 140px;
	position: relative;
	margin-top: 15px;
	margin-bottom: 30px;
	/*border: 1px solid brown;*/
	border-radius: 15px;
	background-color: white;
	font-family: "微软雅黑";
}
.R2 h3{
	padding: 10px 20px;
	border-bottom: 1px dashed lightgray;
}
.R2 >.img{
	margin: 15.5px 25px;
	cursor: pointer;
}