<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title>甲板</title>
		<link rel="stylesheet" th:href="@{/css/article.css}" >
	</head>
	<body>
		<header th:replace="header::head">

			
		</header>
		
		<div class="header2">
			<ul>
				<li><a href="#" style="margin-left: 250px;color: deepskyblue;font-weight: bold;border-bottom: 3px solid deepskyblue;">最新发帖</a></li>
				<li><a href="#">最新回复</a></li>
				<li><a href="#">热门</a></li>
				<li><a href="#">精华</a></li>
			</ul>
			<a href="#"><img src="img/tz.png"</a>
		</div>
		
		<div class="content">
			<div class="L">
				<div class="L1">
					<p style="padding-top: 33px;"><a style="padding: 1px 2px; color: deepskyblue;border: 1px solid deepskyblue;border-radius: 2px;">置顶</a>&nbsp;&nbsp;同人文区版规</p>
					<p><a style="padding: 1px 2px; color: deepskyblue;border: 1px solid deepskyblue;border-radius: 2px;">置顶</a>&nbsp;&nbsp;【同人文申精专用】&nbsp;HoYo论坛精品贴自荐推荐专楼</p>
				</div>
				
				<div class="L2">
					<img src="img/userheader/avatar30005.png" style="width: 40px;height: 40px;position: relative;margin-left: 25px;margin-top: 20px;"/>
					<a class="01" style="position: absolute;margin-left: 10px;margin-top: 30px;cursor: pointer;">月光卡斯兰娜的小号</a>
					<a id="02" style="position: absolute;margin-left: 200px;margin-top: 30px; color: darkgray;">18分钟前</a>
					<h3 title="【美好回忆】&nbsp;（华&nbsp;，&nbsp;小剧场&nbsp;，&nbsp;1）">【美好回忆】&nbsp;（华&nbsp;，&nbsp;小剧场&nbsp;，&nbsp;1）</h3>			
					<p>“不知何时，最初的最初已然消失……”无根无尽的黑暗中，灰发少女沉眠着。高空一千多米，某飞机里……</p>
					<br />
				</div>
				
				<div class="L3">
					<img src="img/userheader/avatar30013.png" style="width: 40px;height: 40px;position: relative;margin-left: 25px;margin-top: 20px;"/>
					<a class="01" style="position: absolute;margin-left: 10px;margin-top: 30px;cursor: pointer;">崩坏书院·落樱殇</a>
					<a id="02" style="position: absolute;margin-left: 150px;margin-top: 30px; color: darkgray;">1小时前</a>
					<h3 title="《西琳的约定》第一百一十六章 希儿的掩饰和布洛妮娅的安慰">《西琳的约定》第一百一十六章 希儿的掩饰和布洛妮娅的安慰</h3>			
					<p> 总感觉自己现在更加对于崩坏有个更完整的认识，一种树的自我反馈机制，这算是一种自救措···</p>			
					<br />
					<button>同人文</button><button>空之律者</button>
				</div>
				
				<div class="L4">
					<img src="img/userheader/avatar30023.png" style="width: 40px;height: 40px;position: relative;margin-left: 25px;margin-top: 20px;"/>
					<a class="01" style="position: absolute;margin-left: 10px;margin-top: 30px;cursor: pointer;">伏特加银狼</a>
					<a id="02" style="position: absolute;margin-left: 150px;margin-top: 30px; color: darkgray;">4小时前</a>
					<h3 title="给芽衣的一封信">给芽衣的一封信</h3>			
					<p> 芽衣，我是琪亚娜。好久不见，你还好吗？时间过得真快啊，不，应该说是我们成长的很快。回想···</p>
					<img src="img/article/01.jpg" style="margin-left: 45px;width: 160px;height: 160px;"/>	
					<img src="img/article/02.jpg" style="width: 160px;height: 160px;"/>
					<img src="img/article/03.jpg" style="width: 160px;height: 160px;"/>
					<br />
					<!--<button>同人文</button><button>空之律者</button>-->
				</div>
				
				<div class="L5">
					<img src="img/userheader/avatar30031.png" style="width: 40px;height: 40px;position: relative;margin-left: 25px;margin-top: 20px;"/>
					<a class="01" style="position: absolute;margin-left: 10px;margin-top: 30px;cursor: pointer;">秋日祭典</a>
					<a id="02" style="position: absolute;margin-left: 150px;margin-top: 30px; color: darkgray;">5小时前</a>
					<h3 title="【&nbsp;世界，永远都是那么美好&nbsp;】&nbsp;第四章&nbsp;&nbsp;恢复记忆">【&nbsp;世界，永远都是那么美好&nbsp;】&nbsp;第四章&nbsp;&nbsp;恢复记忆</h3>			
					<p> “当然，我是指她们”就在他要带着她们离开现场的时候，几名穿着“POLICE”字样的人迎了上来···</p>
					<br />
				</div>
				
				<div class="L6">
					<img src="img/userheader/avatar30038.png" style="width: 40px;height: 40px;position: relative;margin-left: 25px;margin-top: 20px;"/>
					<a class="01" style="position: absolute;margin-left: 10px;margin-top: 30px;cursor: pointer;">卷仙</a>
					<a id="02" style="position: absolute;margin-left: 150px;margin-top: 30px; color: darkgray;">12小时前</a>
					<h3 title="【&nbsp;探案集&nbsp;】&nbsp;雾都篇—雾起">【&nbsp;探案集&nbsp;】&nbsp;雾都篇—雾起</h3>			
					<p> 呼...最近的雪都下的好大...”一个裹着破布的瘦小少年蜷缩着身子对着自己的手呼出热气以让自己的手···</p>
					<br />
				</div>
				
				<div class="L7">
					<img src="img/userheader/avatar30039.png" style="width: 40px;height: 40px;position: relative;margin-left: 25px;margin-top: 20px;"/>
					<a class="01" style="position: absolute;margin-left: 10px;margin-top: 30px;cursor: pointer;">百落红</a>
					<a id="02" style="position: absolute;margin-left: 150px;margin-top: 30px; color: darkgray;">12小时前</a>
					<h3 title="关于安娜与夜枭的无端幻想">关于安娜与夜枭的无端幻想</h3>			
					<p> 写得很烂，谨慎观看————————————灾难&nbsp;&nbsp;安娜途经一片废墟，她抱着也许还有人活着的幻想带着生···</p>
					<br />
				</div>
				
				<div class="L8">
					<img src="img/userheader/avatar30044.png" style="width: 40px;height: 40px;position: relative;margin-left: 25px;margin-top: 20px;"/>
					<a class="01" style="position: absolute;margin-left: 10px;margin-top: 30px;cursor: pointer;">茕茕白猫</a>
					<a id="02" style="position: absolute;margin-left: 150px;margin-top: 30px; color: darkgray;">14小时前</a>
					<h3 title="我当舰长那些年 &nbsp;举起的叛逆之剑">我当舰长那些年 &nbsp;举起的叛逆之剑</h3>			
					<p> “希望你能出手救下布洛妮娅。”舰长在校园的角落拦下符华，语气分外诚恳。“舰长，你是不是···</p>
					<br />
				</div>
				
				<div class="L9">
					<img src="img/userheader/avatar30051.png" style="width: 40px;height: 40px;position: relative;margin-left: 25px;margin-top: 20px;"/>
					<a class="01" style="position: absolute;margin-left: 10px;margin-top: 30px;cursor: pointer;">Ulyesses</a>
					<a id="02" style="position: absolute;margin-left: 150px;margin-top: 30px; color: darkgray;">15小时前</a>
					<h3 title="舰长与希儿番外篇 &nbsp; 藏宝图">舰长与希儿番外篇 &nbsp; 藏宝图</h3>			
					<p> “宝藏就在这里，快挖快挖！”黑希儿正坐在沙发上聚精会神地看着儿童探险节目，里面稀奇古怪···</p>
					<img src="img/article/04.jpg" style="margin-left: 45px;"/>
					<br />
				</div>
				
				<div class="L10">
					<img src="img/userheader/avatar30051.png" style="width: 40px;height: 40px;position: relative;margin-left: 25px;margin-top: 20px;"/>
					<a class="01" style="position: absolute;margin-left: 10px;margin-top: 30px;cursor: pointer;">女武神劫灭</a>
					<a id="02" style="position: absolute;margin-left: 150px;margin-top: 30px; color: darkgray;">18小时前</a>
					<h3 title="崩坏消失，舰长也回来了&nbsp;（&nbsp;圣芙蕾雅的战斗&nbsp;）">崩坏消失，舰长也回来了&nbsp;（&nbsp;圣芙蕾雅的战斗&nbsp;）</h3>			
					<p> 飓风突然加速提前到达了圣芙蕾雅学园，这给战斗增加了难度，但是最麻烦的是，一艘浮空战舰···</p>
					<br />
				</div>
				
				<div class="L_last">
					<a href="#">点击加载更多</a>
				</div>
			</div>
			
			<div class="R">
				<div class="R1">
					<a href="www.bh3.com"><img src="img/pc_ad.png" style="width: 310px;height: 180px;"/></a>
				</div>
			
				<div class="R11">
					<img style="float: left;" src="img/android.png"/>
					<ul>
						<li><a href="#" style="background-color: dodgerblue;margin-top: 15px;">崩坏三桌面版下载</a></li>
						<li><a href="#" style="background-color: limegreen;">Android下载</a></li>
					</ul>
				</div>
				
				<div class="R3">
					<br />
					<h3>焦点推荐</h3>
					<h4>更多&nbsp;></h4>
					<br />
					<hr style="border: none; border-bottom: 1px dashed darkgray;" />
					<br />
					<a href="#"><img src="img/jsgd/6.png" style="width: 285px; height: 150px; border-radius: 15px; margin-left: 12px;margin-bottom: 10px;" ></a>
				
					<ul>
						<li>
							<a href="#" title="【补给】&nbsp;精准目标：断光之努亚达&童谣">
								<input type="button" style="padding: 2px 6px;background: darkgray;color: white;border-radius: 5px; border: none;font-family: '微软雅黑';" value="活动">
								【补给】&nbsp;精准目标：断光之努亚达&童谣
							</a>
						</li>
						<li>
							<a href="#" title="【跟班告诉你】&nbsp;[不灭星锚]&nbsp;情报来袭！">
								<input type="button" style="padding: 2px 6px;background: darkgray;color: white;border-radius: 5px; border: none;font-family: '微软雅黑';" value="资讯">
								【跟班告诉你】&nbsp;[不灭星锚]&nbsp;情报来袭！
							</a>
						</li>					
						<li>
							<a href="#" title="【预告】&nbsp;《崩坏三》&nbsp;全新S级幽兰黛尔[不灭星锚]角色预告">
								<input type="button" style="padding: 2px 6px;background: darkgray;color: white;border-radius: 5px; border: none;font-family: '微软雅黑';" value="资讯">
								【预告】&nbsp;《崩坏三》&nbsp;全新S级幽兰黛尔[不灭星锚]角色预告
							</a>
						</li>
						<li>
							<a href="#" title="10月26日外挂使用封禁名单">
								<input type="button" style="padding: 2px 6px;background: darkgray;color: white;border-radius: 5px; border: none;font-family: '微软雅黑';" value="公告">
								&nbsp;10月26日外挂使用封禁名单
							</a>
						</li>
						<li>
							<a href="#" title="关于iOS系统剪切板调用问题修复说明">
								<input type="button" style="padding: 2px 6px;background: darkgray;color: white;border-radius: 5px; border: none;font-family: '微软雅黑';" value="公告">
								【公告】&nbsp;关于iOS系统剪切板调用问题修复说明
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
	<iframe  marginwidth="0" marginheight="0" style="margin: 0; padding: 0;" frameborder="0" scrolling="no" th:src="@{/footer.html}" height="260px" width="100%"></iframe>
</html>
