<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title>甲板</title>
		<link rel="stylesheet" th:href="@{/css/deck.css}" >
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	</head>
	<body>
		<header th:replace="header::head"></header>
		
		<div class="content">
			
			<div class="L">
				<div class="L1">
					<p style="padding-top: 33px;"><a style="padding: 1px 2px; color: deepskyblue;border: 1px solid deepskyblue;border-radius: 2px;">置顶</a>&nbsp;&nbsp;【新人必看】HoYo论坛导航楼</p>
					<p><a style="padding: 1px 2px; color: deepskyblue;border: 1px solid deepskyblue;border-radius: 2px;">置顶</a>&nbsp;&nbsp;HoYo论坛师徒招募贴</p>
					<p><a style="padding: 1px 2px; color: deepskyblue;border: 1px solid deepskyblue;border-radius: 2px;">置顶</a>&nbsp;&nbsp;【异色狂潮】BUG整理&反馈贴</p>
				</div>
				
				<div class="L2">
					<img src="img/userheader/avatar30023.png" style="width: 40px;height: 40px;position: relative;margin-left: 25px;margin-top: 20px;border-radius: 50%;"/>
					<a class="01" style="position: absolute;margin-left: 10px;margin-top: 30px;cursor: pointer;">末柒柒</a>
					<a id="02" style="position: absolute;margin-left: 150px;margin-top: 30px; color: darkgray;">11-14</a>
					<h3 title="这个估计很符合大多数舰长的想法了吧">这个估计很符合大多数舰长的想法了吧</h3>			
					<p>没有减负活动的第1天，想他想他</p>
					<div style="width: 160px;height: 160px;overflow: hidden;border-radius: 15px;margin-left: 45px;">
						<img src="img/post/zhounianjianfu.jpg" style="max-width: 160px;height: auto;"/>
					</div>

					<button>每日崩坏</button>
				</div>
			
				<div class="L3">
					<img src="img/userheader/avatar30038.png" style="width: 40px;height: 40px;position: relative;margin-left: 25px;margin-top: 20px;border-radius: 50%;"/>
					<a id="01" style="position: absolute;margin-left: 10px;margin-top: 30px;cursor: pointer;">小雨初晴馨</a>
					<a id="02" style="position: absolute;margin-left: 150px;margin-top: 30px; color: darkgray;">11-13</a>
					<h3 title="月中了">月中了</h3>			
					<p>你们多少水了呀，我收到了5000多，可是现在都花完了ps.早上起晚了只能自己打车去学校还差一点迟到，再也不深夜看结算了···</p>
					<div style="width: 160px;height: 160px;overflow: hidden;border-radius: 15px;margin-left: 45px;">
						<img src="img/post/shouzhang.jpg" style="max-width: 160px;height: auto;"/>
					</div>
					
					<button>月光养鸽场</button>				
				</div>
			
				<div class="L4">
					<img src="img/userheader/avatar30039.png" style="width: 40px;height: 40px;position: relative;margin-left: 25px;margin-top: 20px;border-radius: 50%;"/>
					<a id="01" style="position: absolute;margin-left: 10px;margin-top: 30px;cursor: pointer;">不会留你孤身一人</a>
					<a id="02" style="position: absolute;margin-left: 150px;margin-top: 30px; color: darkgray;">一天前</a>
					<h3 title="攒氵第一天">攒氵第一天</h3>			
					<p>萌新70天，之前拜错师傅叫我抽家园我真的吐了，后来换了师傅教了我很多，作为月卡党就是想要一瞬间的芜湖起飞</p>
					<div style="width: 375px;height: 160px;">
						<div style="float: left;width: 160px;height: 160px;overflow: hidden;border-radius: 15px;margin-left: 45px;margin-right: 5px;">
							<img src="img/post/zanshui.jpg" style="max-height: 160px;width: auto;"/>
						</div>
						<div style="width: 160px;height: 160px;overflow: hidden;border-radius: 15px;">
							<img src="img/post/zanshui1.jpg" style="max-height: 160px;width: auto;"/>
						</div>					
					</div>
					
					<button>每日崩坏</button>
				</div>	
			
				<div class="L5">
					<img src="img/userheader/avatar30092.png" style="width: 40px;height: 40px;position: relative;margin-left: 25px;margin-top: 20px;border-radius: 50%;"/>
					<a id="01" style="position: absolute;margin-left: 10px;margin-top: 30px;cursor: pointer;">微笑的木头</a>
					<a id="02" style="position: absolute;margin-left: 150px;margin-top: 30px; color: darkgray;">一天前</a>
					<h3 title="没冰人偶果然不应该凹祸斗">没冰人偶果然不应该凹祸斗</h3>			
					<p>凹吐了简直，各种锁，过年我先tm抽个冰人偶的我楼上的哥们也没冰人偶比我多5分，二阶段少最后的一蹭就能提，算了不凹了太秃</p>
					<div style="width: 375px;height: 160px;">
						<div style="float: left;width: 160px;height: 160px;overflow: hidden;border-radius: 15px;margin-left: 45px;margin-right: 5px;">
							<img src="img/post/aohuodou.jpg" style="max-height: 160px;width: auto;"/>
						</div>
						<div style="width: 160px;height: 160px;overflow: hidden;border-radius: 15px;">
							<img src="img/post/aohuodou1.jpg" style="max-height: 160px;width: auto;"/>
						</div>					
					</div>
					
					<button>明明是我先水的</button>
				</div>	
			
				<div class="L6">
					<img src="img/userheader/avatar30084.png" style="width: 40px;height: 40px;position: relative;margin-left: 25px;margin-top: 20px;border-radius: 50%;"/>
					<a id="01" style="position: absolute;margin-left: 10px;margin-top: 30px;cursor: pointer;">旌风-</a>
					<a id="02" style="position: absolute;margin-left: 150px;margin-top: 30px; color: darkgray;">10-23</a>
					<h3 title="啊～ &nbsp;回苦痛后一阵舒爽">啊～&nbsp; 回苦痛后一阵舒爽</h3>			
					<p>在红莲被月轮胖大海好顿锤，我爱猫猫!!!</p>				
					<div style="width: 375px;height: 160px;">
						<div style="float: left;width: 160px;height: 160px;overflow: hidden;border-radius: 15px;margin-left: 45px;margin-right: 5px;">
							<img src="img/post/aohuodou2.jpg" style="max-height: 160px;width: auto;"/>
						</div>
						<div style="width: 160px;height: 160px;overflow: hidden;border-radius: 15px;">
							<img src="img/post/aohuodou3.png" style="max-height: 160px;width: auto;"/>
						</div>					
					</div>	
					<button>每日崩坏</button>
					
				</div>
			
				<div class="L7">
					<img src="img/userheader/avatar30039.png" style="width: 40px;height: 40px;position: relative;margin-left: 25px;margin-top: 20px;border-radius: 50%;"/>
					<a id="01" style="position: absolute;margin-left: 10px;margin-top: 30px;cursor: pointer;">熊猫园园长</a>
					<a id="02" style="position: absolute;margin-left: 150px;margin-top: 30px; color: darkgray;">10-27</a>
					<h3 title="问问凭证换贝中下还是大剑?">问问凭证换贝中下还是大剑?</h3>			
					<p>高级区，如果换大剑选天鹅湖还是睡美人?粉毛配置米马米</p>				
					<div style="width: 535px;height: 160px;">
						<div style="float: left;width: 160px;height: 160px;overflow: hidden;border-radius: 15px;margin-left: 45px;margin-right: 5px;">
							<img src="img/post/jingyinggongfang.jpg" style="max-height: 160px;width: auto;"/>
						</div>
						<div style="width: 160px;height: 160px;overflow: hidden;border-radius: 15px;">
							<img src="img/post/jingyinggongfang1.jpg" style="max-height: 160px;width: auto;"/>
						</div>					
						<div style="float: right; margin-top: -160px; width: 160px;height: 160px;overflow: hidden;border-radius: 15px;margin-left: 5px;">
							<img src="img/post/jingyinggongfang2.jpg" style="max-height: 160px;width: auto;"/>
						</div>
					</div>	
					<button>互助问答</button>				
				</div>
			
				<div class="L_last">
					<a href="#">点击加载更多</a>
				</div>
				
			</div>
			
			<div class="R">
				<div class="R1">
					<a href="www.bh3.com"><img src="img/pc_ad.png" style="width: 310px;height: 180px;"/></a>
				</div>
			
				<div class="R11">
					<img style="float: left;" src="img/android.png"/>
					<ul>
						<li><a href="#" style="background-color: dodgerblue;margin-top: 15px;">崩坏三桌面版下载</a></li>
						<li><a href="#" style="background-color: limegreen;">Android下载</a></li>
					</ul>
				</div>
				
				<div class="R2">
				<br />
				<h3>热门话题</h3>
				<h4>更多&nbsp;></h4>
				<br />
				<hr style="border: none; border-bottom: 1px dashed darkgray;" />
				<br />
				<ul>
					<li>
						
							<img src="img/topic/meiribh.jpeg" id="htimg">
							<a id="wz">每日崩坏</a>
						
					</li>
					
					<li>
						
							<img src="img/topic/shui.jpeg" id="htimg">
							<a id="wz">明明是我先水的</a>
						
					</li>	
					
					<li>
						
							<img src="img/topic/bengxuejia.png" id="htimg">
							<a id="wz">崩学家</a>
						
					</li>
					
					<li>
						
							<img src="img/topic/huzhuwd.jpeg" id="htimg">
							<a id="wz">互助问答</a>
						
					</li>
					
					<li>
						
							<img src="img/csf.jpeg" id="htimg">
							<a id="wz">测试服</a>
						
					</li>
				</ul>
				</div>
				
				<div class="R3">
					<br />
					<h3>焦点推荐</h3>
					<h4>更多&nbsp;></h4>
					<br />
					<hr style="border: none; border-bottom: 1px dashed darkgray;" />
					<br />
					<a href="#"><img src="img/jsgd/6.png" style="width: 285px; height: 150px; border-radius: 15px; margin-left: 12px;margin-bottom: 10px;" ></a>
				
					<ul>
						<li>
							<a href="#" title="【补给】&nbsp;精准目标：断光之努亚达&童谣">
								<input type="button" style="padding: 2px 6px;background: darkgray;color: white;border-radius: 5px; border: none;font-family: '微软雅黑';" value="活动">
								【补给】&nbsp;精准目标：断光之努亚达&童谣
							</a>
						</li>
						<li>
							<a href="#" title="【跟班告诉你】&nbsp;[不灭星锚]&nbsp;情报来袭！">
								<input type="button" style="padding: 2px 6px;background: darkgray;color: white;border-radius: 5px; border: none;font-family: '微软雅黑';" value="资讯">
								【跟班告诉你】&nbsp;[不灭星锚]&nbsp;情报来袭！
							</a>
						</li>					
						<li>
							<a href="#" title="【预告】&nbsp;《崩坏三》&nbsp;全新S级幽兰黛尔[不灭星锚]角色预告">
								<input type="button" style="padding: 2px 6px;background: darkgray;color: white;border-radius: 5px; border: none;font-family: '微软雅黑';" value="资讯">
								【预告】&nbsp;《崩坏三》&nbsp;全新S级幽兰黛尔[不灭星锚]角色预告
							</a>
						</li>
						<li>
							<a href="#" title="10月26日外挂使用封禁名单">
								<input type="button" style="padding: 2px 6px;background: darkgray;color: white;border-radius: 5px; border: none;font-family: '微软雅黑';" value="公告">
								&nbsp;10月26日外挂使用封禁名单
							</a>
						</li>
						<li>
							<a href="#" title="关于iOS系统剪切板调用问题修复说明">
								<input type="button" style="padding: 2px 6px;background: darkgray;color: white;border-radius: 5px; border: none;font-family: '微软雅黑';" value="公告">
								【公告】&nbsp;关于iOS系统剪切板调用问题修复说明
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<iframe  marginwidth="0" marginheight="0" style="margin: 0; padding: 0;" frameborder="0" scrolling="no" th:src="@{/footer.html}" height="260px" width="100%"></iframe>
	</body>
</html>
