<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link th:href="@{/css/public.css}" rel="stylesheet"/>
	</head>
	<body>
		<div class="footer" th:fragment="ss">
			<ul class="f1">
				<li style="font-weight: bold;color: #000000;">社区地图</li>
				<br /><br />
				<li>甲板</li>
				<li>攻略</li>
				<li>同人图</li>
				<li>同人文</li>
				<li>问答</li>
				<li>反馈</li>
				
			</ul>
			
			<ul class="f2">
				<li style="font-weight: bold;color: #000000;">了解我们</li>
				<br />
				<li>关于我们</li>
				<li>加入我们</li>
				<li>崩坏3官网</li>				
			</ul>
			
			<ul class="f3">
				<li style="font-weight: bold;color: #000000;">相关信息</li>
				<br />
				<li>隐私政策</li>
				<li>HoYo论坛用户隐私协议</li>				
			</ul>
			
			<ul class="f4">
				<li style="font-weight: bold;color: #000000;">联系我们</li>
				<br />
				<li>地址：沧海市长空区圣芙蕾雅路700号</li>
				<li>电话：13245876936(每天10：00~20：00)</li>				
			</ul>
			
			<div class="f5">
				<img src="img/android.png" style="margin-left: 15px;"/>
				<p style="color: deepskyblue;font-family: '微软雅黑';">扫码下载崩坏三APP</p>
				<p style="color: darkgray; font-family: '微软雅黑';">进入游戏内畅快体验</p>
			</div>
			
			<hr style="width: 82%;border:1px dashed darkgray;position: absolute;margin-top: 220px;margin-left: 130px;"/>
		</div>
	</body>
</html>
