<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>我的评论</title>
    <link rel="stylesheet" th:href="@{/css/personal.css}" >
</head>
<body>
<div class="content">
    <p style="padding: 15px 25px;font-size: 18px;border-bottom: 1px solid lightgray;">我的评论</p>
    <div th:each="comment : ${myComment}">
        <p style="margin-top: 15px;margin-left: 20px" th:text="${comment.content}">adsa</p>
    </div>
</div>

<div class="content" th:if="${#lists.isEmpty(myComment)}">
    暂无任何评论
</div>
</body>
</html>