<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>我的关注</title>
    <link rel="stylesheet" th:href="@{/css/personal.css}" >
</head>
<body>
<div class="content">
    <p style="padding: 15px 25px;font-size: 18px;border-bottom: 1px solid lightgray;">我的关注</p>
    <div th:each="follower : ${myFollower}">
        <p style="margin-top:20px">
            <!-- 用户头像 -->
            <img th:src="@{|/user/header/${follower.id}|}" onerror="javascript:this.src='img/userheader/avatarDefaultPc.png'" alt="" style="width: 80px;height: 40px;margin-right: 20px">
            <!-- 用户昵称 -->
            <span th:text="${follower.username}"></span>
        </p>
    </div>
</div>

<div class="content" th:if="${#lists.isEmpty(myFollower)}">

    暂无关注用户喔！

</div>
</body>
</html>