<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title>甲板</title>
		<link rel="stylesheet" th:href="@{/css/official.css}" >
	</head>
	<body>
		<header th:replace="header::head"></header>
		
		<div class="header2">
			<ul>
				<li><a href="#" style="margin-left: 250px;">活动</a></li>
				<li><a href="#">公告</a></li>
				<li><a href="#">资讯</a></li>
				
			</ul>
		</div>
		
		<div class="content">
			<div class="L">
				<div class="L1">
					<h3>【壁纸】&nbsp;主线20章精选壁纸</h3>
					<p>“不过，对我来说，不管去了哪里。回忆都是非常重要、非常重要的东西。……我想要永远记住。”主线二十章「千年之羽」精选CG，请舰长收下~</p>
					<img src="img/post/bizhi.png"/>
				</div>
				
				<div class="L2">
					<h3>【补给】&nbsp;精准目标：断光之努亚达&童谣</h3>
					<p>本次精准补给A为影骑士·月轮的推荐武器「断光之努亚达」与忍舞剑心套装「石川五右卫门」。
						精准补给B为幻海梦蝶的推荐装备「童谣」与量子圆舞曲套装「迪拉克」。
						同时，···</p>
					<img src="img/post/jingzhunbuji.png"/>
				</div>
				
				<div class="L3">
					<h3>【补给】&nbsp;影骑士·月轮扩充补给</h3>
					<p>符华S级角色「影骑士·月轮」、符华A级角色「白夜执事」加入扩充补给，获取概率提升！                 
						「影骑士·月轮」简介：近距离持续输出，可造成大量雷电伤害，大招创造雷电场，在雷电场内输出持续提升。</p>
					<img src="img/post/yuelunkc.png"/>
				</div>
				
				<div class="L4">
					<h3>【礼包】&nbsp;★商城特惠★万圣节服装&礼包、11月礼包上架！</h3>
					<p>钟声敲响，惊喜万圣返场服装、礼包来袭！11月商城礼包同步上新，远古意志礼包、精准卡礼包特惠上架~</p>
					<img src="img/post/wanshenglibao.png"/>
				</div>
				
				<div class="L5">
					<h3>【补给】&nbsp;「血月魔影」影骑士·月轮时装复刻登场！</h3>
					<p>“她曾哀悼她的心，但她却将她燃为灰烬。”「血月魔影」影骑士·月轮服装复刻登场！登录即领吼姆金钥匙，补给卡、圣痕共鸣等丰厚秘宝等你开启~</p>
					<img src="img/post/xueyuemoying.png"/>
				</div>
				
				<div class="L6">
					<h3>【一图流】&nbsp;主线第二十章「千年之羽」新章节开启</h3>
					<p>舰长好~主线二十章「千年之羽」新章节现已开启！4★活动套装圣痕「符华·云墨丹心（中）」等奖励开放获取中，舰长不要错过哦~</p>
					<img src="img/jsgd/1.png"/>
				</div>
				
				<div class="L7">
					<h3>【活动】&nbsp;天色渐暗，钟声响起，「万圣惊魂夜」开放！</h3>
					<p>☆万圣惊魂夜☆不给糖就捣蛋！
天色渐暗，钟声响起，现在就跟着幽灵的节拍出发！「万圣惊魂夜」开放！积极参与活动，来获取精美头像框「夜之谲秘绶带」吧！</p>
					<img src="img/post/wanshengjh.png"/>
				</div>
				
				<div class="L8">
					<h3>【壁纸CG】&nbsp;希儿生日快乐</h3>
					<p>许下愿望，赴一场童话的约定。那个少女，已经破茧成蝶。亲爱的希儿，祝你生日快乐~</p>
					<img src="img/post/xiersr.png"/>
				</div>
				
				<div class="L9">
					<h3>【补给】&nbsp;「蔷薇誓言」服装补给</h3>
					<p>苍骑士·月魂服装「蔷薇誓言」温柔来袭~
活动期间，舰长进行服装补给可以享受八折优惠，最多消耗7680水晶，即可获取包括「蔷薇誓言」服装在内的全部补给物品！</p>
					<img src="img/jiaodiantj/jdtj.png"/>
				</div>
				
				<div class="L10">
					<h3>【一图流】&nbsp;「永恒菜园·缭乱篇」开启</h3>
					<p>在山的那边海的那边，有一群小包菜~它们活泼又聪明，它们天天喊老板~
「永恒菜园·缭乱篇」活动现已开启，舰长的菜园是不是全部大丰收啦!老板要记得多多收菜，获取天命·虚数···</p>
					<img src="img/post/yonghengchaiyuan.png"/>
				</div>
				
				<div class="L_last">
					<a href="#">点击加载更多</a>
				</div>
				
			</div>
			
			<div class="R">
				<div class="R1">
					<a href="www.bh3.com"><img src="img/pc_ad.png" style="width: 310px;height: 180px;"/></a>
				</div>
			
				<div class="R11">
					<img style="float: left;" src="img/android.png"/>
					<ul>
						<li><a href="#" style="background-color: dodgerblue;margin-top: 15px;">崩坏三桌面版下载</a></li>
						<li><a href="#" style="background-color: limegreen;">Android下载</a></li>
					</ul>
				</div>
				
				<div class="R2">
				<br />
				<h3>推荐话题</h3>
				<h4>更多&nbsp;></h4>
				<br />
				<hr style="border: none; border-bottom: 1px dashed darkgray;" />
				<br />
				<ul>
					<li>
						
						<img src="img/topic/wanshengjie.jpeg" id="htimg">
						<a id="wz">万圣节狂欢派对</a>
						<a id="wz1">不给糖，就捣蛋！万圣节狂欢派对来啦！</a>						
					</li>
					
					<li>
						
						<img src="img/topic/jianshougang.jpeg" id="htimg">
						<a id="wz">休伯利安坚守岗</a>
						<a id="wz1">舰船执勤打卡，谁能坚持到最后!</a>
					</li>	
					
					<li>
						
						<img src="img/topic/xianshangsai.png" id="htimg">
						<a id="wz">全民线上赛</a>
						<a id="wz1">全民共同参与，这次不再只是观众！</a>
					</li>
					
					<li>
						
						<img src="img/topic/bengxuejia.png" id="htimg">
						<a id="wz">崩学家</a>
						<a id="wz1">一起来研究崩崩崩学吧</a>
					</li>
					
					<li>
						
						<img src="img/topic/gongnue.png" id="htimg">
						<a id="wz">4.3攻略征集</a>
						<a id="wz1">来分享你的4.3版本心得吧！</a>
					</li>
				</ul>
				</div>
				
			</div>
		</div>
	</body>
	<iframe  marginwidth="0" marginheight="0" style="margin: 0; padding: 0;" frameborder="0" scrolling="no" th:src="@{/footer.html}" height="260px" width="100%"></iframe>
</html>