<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title>甲板</title>
		<link rel="stylesheet" th:href="@{/css/photo.css}" >
	</head>
	<body>
		<header th:replace="header::head">

		</header>
		
		<div class="header2">
			<ul>
				<li><a href="#" style="margin-left: 250px;">最新发帖</a></li>
				<li><a href="#">最新回复</a></li>
				<li><a href="#">热门</a></li>
				<li><a href="#">精华</a></li>
			</ul>
			<a href="#"><img src="img/tp.png"</a>
		</div>
		
		
		<div class="content">
			<div class="L">
				
				<div class="L1">
					<img src="img/photo/001.jpg" style="min-width: 250px;max-height: 180px;overflow: hidden;border-radius: 10px;"/>
					<a id="11" style="position: absolute;margin-top: 195px;margin-left: -225px; font-size: 17px;font-family: '微软雅黑';cursor: pointer;">当成年人遇上数学</a>
					<!--<p>当成年人遇上数学</p>-->
					<br />
					<img src="img/userheader/avatar30023.png" 
						style="width: 30px;height: 30px;position: absolute;margin-top: 40px;margin-left: 20px;border-radius: 50%;"/>
					<a style="position: absolute;margin-top: 43px;margin-left: 60px;font-family: '微软雅黑';cursor: pointer;">月影残光</a>
				</div>
				
				<div class="L2">	
					<div style="width: 250px;height: 180px;overflow: hidden;">
						<img src="img/photo/002.jpg" style="width: 250px;cursor: pointer;transition: width 0.6s;border-radius: 10px 10px 0px 0px;"/>	
					</div>															
					<p>快（tong）乐（ku）勾线</p>
					<img src="img/userheader/avatar30031.png" 
						style="width: 30px;height: 30px;position: absolute;margin-top: 7px;margin-left: 20px;border-radius: 50%;"/>
					<a>咕咕仄</a>
				</div>
				
				<div class="L3">
					<div style="width: 250px;height: 180px;overflow: hidden;border-radius: 10px 10px 0px 0px;">
						<img src="img/photo/003.png" style="height: 180px;cursor: pointer;"/>
					</div>
					
					<p>【欲雨与鱼】黑希侠，代打开始！</p>
					<img src="img/userheader/avatar30038.png" 
						style="width: 30px;height: 30px;position: absolute;margin-top: 7px;margin-left: 20px;border-radius: 50%;"/>
					<a>冰柠檬~白开心</a>
				</div>
				
				<div class="L4">
					<div style="width: 250px;height: 180px;overflow: hidden;">
						<img src="img/photo/004.jpg" style="width: 250px;cursor: pointer;border-radius: 10px 10px 0px 0px;"/>
					</div>
					
					<p>青柠汽水</p>
					<img src="img/userheader/avatar30039.png" 
						style="width: 30px;height: 30px;position: absolute;margin-top: 7px;margin-left: 20px;border-radius: 50%;"/>
					<a>、笙哥</a>
				</div>
				
				<div class="L5">
					<div style="width: 250px;height: 180px;overflow: hidden;">
						<img src="img/photo/005.jpg" style="width: 250px;cursor: pointer;border-radius: 10px 10px 0px 0px;"/>
					</div>
					
					<p>《回眸》</p>
					<img src="img/userheader/avatar30044.png" 
						style="width: 30px;height: 30px;position: absolute;margin-top: 7px;margin-left: 20px;border-radius: 50%;"/>
					<a>SKMMoneko</a>
				</div>
				
				<div class="L6">
					<div style="width: 250px;height: 180px;overflow: hidden;border-radius: 10px 10px 0px 0px;">
						<img src="img/photo/006.png" style="height: 180px;cursor: pointer;"/>
					</div>
					
					<p>【同人】雷律芽衣</p>
					<img src="img/userheader/avatar30051.png" 
						style="width: 30px;height: 30px;position: absolute;margin-top: 7px;margin-left: 20px;border-radius: 50%;"/>
					<a>爱可乐的小红</a>
				</div>
				
				<div class="L7">
					<div style="width: 250px;height: 180px;overflow: hidden;border-radius: 10px 10px 0px 0px;">
						<img src="img/photo/007.jpg" style="height: 180px;cursor: pointer;"/>
					</div>
					
					<p>让你再闯祸</p>
					<img src="img/userheader/avatar30060.png" 
						style="width: 30px;height: 30px;position: absolute;margin-top: 7px;margin-left: 20px;border-radius: 50%;"/>
					<a>猞</a>
				</div>
				
				<div class="L8">
					<div style="width: 250px;height: 180px;overflow: hidden;border-radius: 10px 10px 0px 0px;">
						<img src="img/photo/008.png" style="height: 180px;cursor: pointer;"/>
					</div>
					
					<p>万圣节来力</p>
					<img src="img/userheader/avatar30071.png" 
						style="width: 30px;height: 30px;position: absolute;margin-top: 7px;margin-left: 20px;border-radius: 50%;"/>
					<a>东方有厉鬼</a>
				</div>
				
				<div class="L9">
					<div style="width: 250px;height: 180px;overflow: hidden;border-radius: 10px 10px 0px 0px;">
						<img src="img/photo/009.jpg" style="height: 180px;cursor: pointer;"/>
					</div>
					
					<p>【希儿cos正片】又是一年春好处</p>
					<img src="img/userheader/avatar30079.png" 
						style="width: 30px;height: 30px;position: absolute;margin-top: 7px;margin-left: 20px;border-radius: 50%;"/>
					<a>游水小欢</a>
				</div>
				
				<div class="L10">
					<div style="width: 250px;height: 180px;overflow: hidden;">
						<img src="img/photo/010.jpg" style="width: 250px;cursor: pointer;border-radius: 10px 10px 0px 0px;"/>
					</div>
					
					<p>青鸟之庭·其二</p>
					<img src="img/userheader/avatar30084.png" 
						style="width: 30px;height: 30px;position: absolute;margin-top: 7px;margin-left: 20px;border-radius: 50%;"/>
					<a>Faaallen</a>
				</div>
				
				<div class="L11">
					<div style="width: 250px;height: 180px;overflow: hidden;">
						<img src="img/photo/011.jpg" style="width: 250px;cursor: pointer;border-radius: 10px 10px 0px 0px;"/>
					</div>
					
					<p>光污染摸鱼</p>
					<img src="img/userheader/avatar30090.png" 
						style="width: 30px;height: 30px;position: absolute;margin-top: 7px;margin-left: 20px;border-radius: 50%;"/>
					<a>是粽子呀</a>
				</div>
				
				<div class="L12">
					<div style="width: 250px;height: 180px;overflow: hidden;">
						<img src="img/photo/012.jpg" style="width: 250px;cursor: pointer;border-radius: 10px 10px 0px 0px;"/>
					</div>
					
					<p>【崩三四周年贺图征集】</p>
					<img src="img/userheader/avatar30092.png" 
						style="width: 30px;height: 30px;position: absolute;margin-top: 7px;margin-left: 20px;border-radius: 50%;"/>
					<a>小八我老婆不接受反驳</a>
				</div>
				
				<div class="L13">
					<div style="width: 250px;height: 180px;overflow: hidden;border-radius: 10px 10px 0px 0px;">
						<img src="img/photo/013.jpg" style="height: 180px;cursor: pointer;;"/>
					</div>
					
					<p>嗷呜~不给糖就捣蛋</p>
					<img src="img/userheader/avatar30023.png" 
						style="width: 30px;height: 30px;position: absolute;margin-top: 7px;margin-left: 20px;border-radius: 50%;"/>
					<a>五千年的咸鱼干</a>
				</div>
				
				<div class="L14">
					<div style="width: 250px;height: 180px;overflow: hidden;">
						<img src="img/photo/014.jpg" style="width: 250px;cursor: pointer;border-radius: 10px 10px 0px 0px;"/>
					</div>
					
					<p>丽塔·儿童节限定</p>
					<img src="img/userheader/avatar30060.png" 
						style="width: 30px;height: 30px;position: absolute;margin-top: 7px;margin-left: 20px;border-radius: 50%;"/>
					<a>会咕咕的复读机</a>
				</div>
				
				<div class="L15">
					<div style="width: 250px;height: 180px;overflow: hidden;border-radius: 10px 10px 0px 0px;">
						<img src="img/photo/015.jpg" style="height: 180px;cursor: pointer;"/>
					</div>
					
					<p>自拟表情</p>
					<img src="img/userheader/avatar30044.png" 
						style="width: 30px;height: 30px;position: absolute;margin-top: 7px;margin-left: 20px;border-radius: 50%;"/>
					<a>MSR签约者</a>
				</div>
			</div>
			
			<div class="R">
				<div class="R1">
					<a href="www.bh3.com"><img src="img/pc_ad.png" style="width: 310px;height: 180px;"/></a>
				</div>
			
				<div class="R11">
					<img style="float: left;" src="img/android.png"/>
					<ul>
						<li><a href="#" style="background-color: dodgerblue;margin-top: 15px;">崩坏三桌面版下载</a></li>
						<li><a href="#" style="background-color: limegreen;">Android下载</a></li>
					</ul>
				</div>
				
				<div class="R2">
				<br />
				<h3>热门话题</h3>
				<h4>更多&nbsp;></h4>
				<br />
				<hr style="border: none; border-bottom: 1px dashed darkgray;" />
				<br />
				<ul>
					<li>
						
							<img src="img/photo/tongrent.jpeg" id="htimg">
							<a id="wz">同人图</a>
						
					</li>
					
					<li>
						
							<img src="img/photo/tongrenmh.jpeg" id="htimg">
							<a id="wz">同人漫画</a>
						
					</li>	
					
					<li>
						
							<img src="img/photo/cosplay.jpeg" id="htimg">
							<a id="wz">cosplay</a>
						
					</li>
					
					<li>
						
							<img src="img/photo/Ptu.jpeg" id="htimg">
							<a id="wz">灵魂P图</a>
						
					</li>
					
					<li>
						
							<img src="img/photo/shougongzz.jpeg" id="htimg">
							<a id="wz">手工制作</a>
						
					</li>
				</ul>
				</div>
			</div>			
		</div>		
	</body>
	<iframe  marginwidth="0" marginheight="0" style="margin: 0; padding: 0;" frameborder="0" scrolling="no" th:src="@{/footer.html}" height="260px" width="100%"></iframe>
</html>