<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title>甲板</title>
		<link rel="stylesheet" th:href="@{/css/strategy.css}" >
	</head>
	<body>
		<header th:replace="header::head">

		</header>
		
		<div class="header2">
			<ul>
				<li><a href="#" style="margin-left: 250px;">最新发帖</a></li>
				<li><a href="#">最新回复</a></li>
				<li><a href="#">热门</a></li>
				<li><a href="#">精华</a></li>
			</ul>
			<a href="#"><img src="img/tz.png"</a>
		</div>
		
		<div class="content">
			
			<div class="L">
				<div class="L1">
					<p style="padding-top: 33px;"><a style="padding: 1px 2px; color: deepskyblue;border: 1px solid deepskyblue;border-radius: 2px;">置顶</a>&nbsp;&nbsp;爱酱的攻略索引&nbsp;|&nbsp;一键收藏，攻略无忧</p>
					<p><a style="padding: 1px 2px; color: deepskyblue;border: 1px solid deepskyblue;border-radius: 2px;">置顶</a>&nbsp;&nbsp;【攻略区版规】&nbsp;不接受求助、讨论、反馈贴等非攻略贴</p>
				</div>
				
				<div class="L2">
					<img src="img/userheader/avatar30023.png" style="width: 40px;height: 40px;position: relative;margin-left: 25px;margin-top: 20px;border-radius: 50%;"/>
					<a class="01" style="position: absolute;margin-left: 10px;margin-top: 30px;cursor: pointer;">SIEG</a>
					<a id="02" style="position: absolute;margin-left: 150px;margin-top: 30px; color: darkgray;">11-14</a>
					<h3 title="4.3角色推荐表&nbsp;丨&nbsp;狂热蓝调Δ登场！&nbsp;未来可期！">4.3角色推荐表&nbsp;丨&nbsp;狂热蓝调Δ登场！&nbsp;未来可期！</h3>			
					<p>改动说明一、标准修正：由于近期版本的角色表现更加依赖环境，并且过去的推荐度等级高低容易模糊推荐表···</p>
					<div style="width: 160px;height: 160px;overflow: hidden;border-radius: 15px;margin-left: 45px;">
						<img src="img/post/juesetuijian.jpg" style="max-width: 160px;height: auto;"/>
					</div>

					<button>月光养鸽场</button>
				</div>
			
				<div class="L3">
					<img src="img/userheader/avatar30023.png" style="width: 40px;height: 40px;position: relative;margin-left: 25px;margin-top: 20px;border-radius: 50%;"/>
					<a id="01" style="position: absolute;margin-left: 10px;margin-top: 30px;cursor: pointer;">SIEG</a>
					<a id="02" style="position: absolute;margin-left: 150px;margin-top: 30px; color: darkgray;">11-13</a>
					<h3 title="4.3圣痕推荐表&nbsp;丨&nbsp;你的衣服很好看，但她下一秒就是我的了">4.3圣痕推荐表&nbsp;丨&nbsp;你的衣服很好看，但她下一秒就是我的了</h3>			
					<p>改动说明一、标准修正：由于近期版本的角色表现更加依赖环境，依附于角色的圣痕也是如此</p>
					<div style="width: 160px;height: 160px;overflow: hidden;border-radius: 15px;margin-left: 45px;">
						<img src="img/post/shenghengtuijian.jpg" style="max-width: 160px;height: auto;"/>
					</div>
					
					<button>月光养鸽场</button>				
				</div>
			
				<div class="L4">
					<img src="img/userheader/avatar30039.png" style="width: 40px;height: 40px;position: relative;margin-left: 25px;margin-top: 20px;border-radius: 50%;"/>
					<a id="01" style="position: absolute;margin-left: 10px;margin-top: 30px;cursor: pointer;">落羽潇潇</a>
					<a id="02" style="position: absolute;margin-left: 150px;margin-top: 30px; color: darkgray;">一天前</a>
					<h3 title="测试服V3战场冰律阵容详解">测试服V3战场冰律阵容详解</h3>			
					<p>4.4版本测试服中，更新了一个新的战场BOSS-陨冰之律者。已经是测试服V3版本，在测试版本里应该不会有什么大</p>
					<div style="width: 535px;height: 160px;">
						<div style="float: left;width: 160px;height: 160px;overflow: hidden;border-radius: 15px;margin-left: 45px;margin-right: 5px;">
							<img src="img/post/V3binglv1.png" style="max-height: 160px;width: auto;"/>
						</div>
						<div style="width: 160px;height: 160px;overflow: hidden;border-radius: 15px;">
							<img src="img/post/V3binglv2.png" style="max-height: 160px;width: auto;"/>
						</div>					
						<div style="float: right; margin-top: -160px; width: 160px;height: 160px;overflow: hidden;border-radius: 15px;margin-left: 5px;">
							<img src="img/post/V3binglv3.png" style="max-height: 160px;width: auto;"/>
						</div>
					</div>
					
					<button>月光养鸽场</button>
				</div>	
			
				<div class="L5">
					<img src="img/userheader/avatar10001.png" style="width: 40px;height: 40px;position: relative;margin-left: 25px;margin-top: 20px;border-radius: 50%;"/>
					<a id="01" style="position: absolute;margin-left: 10px;margin-top: 30px;cursor: pointer;">雨天的橘子汽水</a>
					<a id="02" style="position: absolute;margin-left: 150px;margin-top: 30px; color: darkgray;">一天前</a>
					<h3 title="超限武器&nbsp;丨&nbsp;带你看懂4.4版本的超限武器选择">超限武器&nbsp;丨&nbsp;带你看懂4.4版本的超限武器选择</h3>			
					<p>4.3版本临近尾声，测试服中4.4版本的超限武器贯星枪 人马座也已经推出，这里给大家简单梳理一下4.3版本的全部超··</p>
					<div style="width: 160px;height: 160px;overflow: hidden;margin-left: 45px;">
						<img src="img/post/chaoxianwuqi.jpg" style="height: ;"/>
					</div>
					
					<button>超限武器</button>
				</div>	
			
				<div class="L6">
					<img src="img/userheader/avatar30084.png" style="width: 40px;height: 40px;position: relative;margin-left: 25px;margin-top: 20px;border-radius: 50%;"/>
					<a id="01" style="position: absolute;margin-left: 10px;margin-top: 30px;cursor: pointer;">雨天的橘子汽水</a>
					<a id="02" style="position: absolute;margin-left: 150px;margin-top: 30px; color: darkgray;">10-23</a>
					<h3 title="角色攻略&nbsp;|&nbsp;赌上生命的一剑————真红骑士·月蚀">角色攻略&nbsp;|&nbsp;赌上生命的一剑————真红骑士·月蚀</h3>			
					<p>4.3版本临近尾声，测试服中4.4版本的超限武器贯星枪 人马座也已经推出，这里给大家简单梳理一下4.3版本的全部超···</p>				
					<img src="img/post/zhenhongqs.jpg" style="margin-left: 45px;"/>
					<img src="img/post/neirongtiyao.jpg" />
					<img src="img/post/quanmianjiangjie.jpg" />
					<br />	
					<button>姬子</button>
					<button style="margin-left: 10px;">月光养鸽场</button>
				</div>
			
				<div class="L7">
					<img src="img/userheader/avatar30039.png" style="width: 40px;height: 40px;position: relative;margin-left: 25px;margin-top: 20px;border-radius: 50%;"/>
					<a id="01" style="position: absolute;margin-left: 10px;margin-top: 30px;cursor: pointer;">若能绽放光芒</a>
					<a id="02" style="position: absolute;margin-left: 150px;margin-top: 30px; color: darkgray;">10-27</a>
					<h3 title="4.4测试服v3&nbsp;丨&nbsp;莎士比亚·漂流立绘实装">4.4测试服v3&nbsp;丨&nbsp;莎士比亚·漂流立绘实装</h3>			
					<p>今天下午4.4测试服迎来了V3版本，本文将对V3的改动进行对比并分析，之前缺失的新角色、圣痕立绘已经实装，同时悬赏委托···</p>				
					<div style="width: 535px;height: 160px;">
						<div style="float: left;width: 160px;height: 160px;overflow: hidden;border-radius: 15px;margin-left: 45px;margin-right: 5px;">
							<img src="img/post/shashibiya1.png" style="max-height: 160px;width: auto;"/>
						</div>
						<div style="width: 160px;height: 160px;overflow: hidden;border-radius: 15px;">
							<img src="img/post/shashibiya2.png" style="max-height: 160px;width: auto;"/>
						</div>					
						<div style="float: right; margin-top: -160px; width: 160px;height: 160px;overflow: hidden;border-radius: 15px;margin-left: 5px;">
							<img src="img/post/shashibiya3.png" style="max-height: 160px;width: auto;"/>
						</div>
					</div>	
					<button>月光养鸽场</button>				
				</div>
			
				<div class="L_last">
					<a href="#">点击加载更多</a>
				</div>
				
			</div>
			
			<div class="R">
				<div class="R1">
					<a href="www.bh3.com"><img src="img/pc_ad.png" style="width: 310px;height: 180px;"/></a>
				</div>
			
				<div class="R11">
					<img style="float: left;" src="img/android.png"/>
					<ul>
						<li><a href="#" style="background-color: dodgerblue;margin-top: 15px;">崩坏三桌面版下载</a></li>
						<li><a href="#" style="background-color: limegreen;">Android下载</a></li>
					</ul>
				</div>
				
				<div class="R2">
				<br />
				<h3>热门话题</h3>
				<h4>更多&nbsp;></h4>
				<br />
				<hr style="border: none; border-bottom: 1px dashed darkgray;" />
				<br />
				<ul>
					<li>
						
							<img src="img/topic/yinghundian.jpeg" id="htimg">
							<a id="wz">爱酱的英魂殿</a>
						
					</li>
					
					<li>
						
							<img src="img/topic/jiyizhanchang.jpeg" id="htimg">
							<a id="wz">记忆战场</a>
						
					</li>	
					
					<li>
						
							<img src="img/topic/wuqishengheng.jpeg" id="htimg">
							<a id="wz">武器圣痕装备</a>
						
					</li>
					
					<li>
						
							<img src="img/topic/haimudaer.jpeg" id="htimg">
							<a id="wz">海姆达尔</a>
						
					</li>
					
					<li>
						
							<img src="img/topic/wuzhuangrenou.jpeg" id="htimg">
							<a id="wz">武装人偶攻略</a>
						
					</li>
				</ul>
				</div>
				
				<div class="R3">
					<br />
					<h3>焦点推荐</h3>
					<h4>更多&nbsp;></h4>
					<br />
					<hr style="border: none; border-bottom: 1px dashed darkgray;" />
					<br />
					<a href="#"><img src="img/jsgd/6.png" style="width: 285px; height: 150px; border-radius: 15px; margin-left: 12px;margin-bottom: 10px;" ></a>
				
					<ul>
						<li>
							<a href="#" title="【补给】&nbsp;精准目标：断光之努亚达&童谣">
								<input type="button" style="padding: 2px 6px;background: darkgray;color: white;border-radius: 5px; border: none;font-family: '微软雅黑';" value="活动">
								【补给】&nbsp;精准目标：断光之努亚达&童谣
							</a>
						</li>
						<li>
							<a href="#" title="【跟班告诉你】&nbsp;[不灭星锚]&nbsp;情报来袭！">
								<input type="button" style="padding: 2px 6px;background: darkgray;color: white;border-radius: 5px; border: none;font-family: '微软雅黑';" value="资讯">
								【跟班告诉你】&nbsp;[不灭星锚]&nbsp;情报来袭！
							</a>
						</li>					
						<li>
							<a href="#" title="【预告】&nbsp;《崩坏三》&nbsp;全新S级幽兰黛尔[不灭星锚]角色预告">
								<input type="button" style="padding: 2px 6px;background: darkgray;color: white;border-radius: 5px; border: none;font-family: '微软雅黑';" value="资讯">
								【预告】&nbsp;《崩坏三》&nbsp;全新S级幽兰黛尔[不灭星锚]角色预告
							</a>
						</li>
						<li>
							<a href="#" title="10月26日外挂使用封禁名单">
								<input type="button" style="padding: 2px 6px;background: darkgray;color: white;border-radius: 5px; border: none;font-family: '微软雅黑';" value="公告">
								&nbsp;10月26日外挂使用封禁名单
							</a>
						</li>
						<li>
							<a href="#" title="关于iOS系统剪切板调用问题修复说明">
								<input type="button" style="padding: 2px 6px;background: darkgray;color: white;border-radius: 5px; border: none;font-family: '微软雅黑';" value="公告">
								【公告】&nbsp;关于iOS系统剪切板调用问题修复说明
							</a>
						</li>
					</ul>
				</div>
			</div>
			
		</div>
		<iframe  marginwidth="0" marginheight="0" style="margin: 0; padding: 0;" frameborder="0" scrolling="no" src="/footer.html" height="260px" width="100%"></iframe>
		
	</body>
</html>
