<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title>甲板</title>
		<link rel="stylesheet" th:href="@{/css/strategy.css}" >
	</head>
	<body>
		<header th:replace="header::head">

		</header>
		
		<div class="header2">
			<ul>
				<li><a href="#" style="margin-left: 250px;">最新发帖</a></li>
				<li><a href="#">最新回复</a></li>
				<li><a href="#">热门</a></li>
				<li><a href="#">精华</a></li>
			</ul>
			<a href="#"><img src="img/tz.png"</a>
		</div>
		
		<div class="content">
			
			<div class="L">
				<div class="L1">
					<p style="padding-top: 33px;"><a style="padding: 1px 2px; color: deepskyblue;border: 1px solid deepskyblue;border-radius: 2px;">置顶</a>&nbsp;&nbsp;爱酱的攻略索引&nbsp;|&nbsp;一键收藏，攻略无忧</p>
					<p><a style="padding: 1px 2px; color: deepskyblue;border: 1px solid deepskyblue;border-radius: 2px;">置顶</a>&nbsp;&nbsp;【攻略区版规】&nbsp;不接受求助、讨论、反馈贴等非攻略贴</p>
				</div>

				<div class="L2" th:each="post : ${posts}">
					<img src="img/userheader/avatar10001.png" style="width: 40px;height: 40px;position: relative;margin-left: 25px;margin-top: 20px;"/>
					<a class="01" style="position: absolute;margin-left: 10px;margin-top: 30px;cursor: pointer;">崩崩崩米游姬</a>
					<a id="02" style="position: absolute;margin-left: 150px;margin-top: 30px; color: darkgray;" th:text="${#dates.format(post.createTime,'yyyy-MM-dd HH:mm:ss')}">18小时前</a>
					<h3 th:title="${post.title}" th:text="${post.title}" th:onclick="'detail('+${post.id}+')'">【活动】&nbsp;线上赛决赛队伍出炉，投出你们的一票决定他们的命运吧！</h3>
					<p>经过晋级赛的激烈角逐，四支队伍的晋级赛成绩终于浮出水面~那么究竟是哪两支队伍能够脱颖而出呢！</p>
					<img src="img/post/xianshangsai0.png" style="margin-left: 45px;"/>
					<img src="img/post/xianshangsai.gif" width="170px" height="170px" />
					<img src="img/post/xianshangsai1.gif" width="170px" height="170px" />
					<br />
					<button>崩坏</button>
				</div>

				<div class="L_last">
					<a href="#">点击加载更多</a>
				</div>
				
			</div>
			
			<div class="R">
				<div class="R1">
					<a href="www.bh3.com"><img src="img/pc_ad.png" style="width: 310px;height: 180px;"/></a>
				</div>
			
				<div class="R11">
					<img style="float: left;" src="img/android.png"/>
					<ul>
						<li><a href="#" style="background-color: dodgerblue;margin-top: 15px;">崩坏三桌面版下载</a></li>
						<li><a href="#" style="background-color: limegreen;">Android下载</a></li>
					</ul>
				</div>
				
				<div class="R2">
				<br />
				<h3>热门话题</h3>
				<h4>更多&nbsp;></h4>
				<br />
				<hr style="border: none; border-bottom: 1px dashed darkgray;" />
				<br />
				<ul>
					<li>
						
							<img src="img/topic/yinghundian.jpeg" id="htimg">
							<a id="wz">爱酱的英魂殿</a>
						
					</li>
					
					<li>
						
							<img src="img/topic/jiyizhanchang.jpeg" id="htimg">
							<a id="wz">记忆战场</a>
						
					</li>	
					
					<li>
						
							<img src="img/topic/wuqishengheng.jpeg" id="htimg">
							<a id="wz">武器圣痕装备</a>
						
					</li>
					
					<li>
						
							<img src="img/topic/haimudaer.jpeg" id="htimg">
							<a id="wz">海姆达尔</a>
						
					</li>
					
					<li>
						
							<img src="img/topic/wuzhuangrenou.jpeg" id="htimg">
							<a id="wz">武装人偶攻略</a>
						
					</li>
				</ul>
				</div>
				
				<div class="R3">
					<br />
					<h3>焦点推荐</h3>
					<h4>更多&nbsp;></h4>
					<br />
					<hr style="border: none; border-bottom: 1px dashed darkgray;" />
					<br />
					<a href="#"><img src="img/jsgd/6.png" style="width: 285px; height: 150px; border-radius: 15px; margin-left: 12px;margin-bottom: 10px;" ></a>
				
					<ul>
						<li>
							<a href="#" title="【补给】&nbsp;精准目标：断光之努亚达&童谣">
								<input type="button" style="padding: 2px 6px;background: darkgray;color: white;border-radius: 5px; border: none;font-family: '微软雅黑';" value="活动">
								【补给】&nbsp;精准目标：断光之努亚达&童谣
							</a>
						</li>
						<li>
							<a href="#" title="【跟班告诉你】&nbsp;[不灭星锚]&nbsp;情报来袭！">
								<input type="button" style="padding: 2px 6px;background: darkgray;color: white;border-radius: 5px; border: none;font-family: '微软雅黑';" value="资讯">
								【跟班告诉你】&nbsp;[不灭星锚]&nbsp;情报来袭！
							</a>
						</li>					
						<li>
							<a href="#" title="【预告】&nbsp;《崩坏三》&nbsp;全新S级幽兰黛尔[不灭星锚]角色预告">
								<input type="button" style="padding: 2px 6px;background: darkgray;color: white;border-radius: 5px; border: none;font-family: '微软雅黑';" value="资讯">
								【预告】&nbsp;《崩坏三》&nbsp;全新S级幽兰黛尔[不灭星锚]角色预告
							</a>
						</li>
						<li>
							<a href="#" title="10月26日外挂使用封禁名单">
								<input type="button" style="padding: 2px 6px;background: darkgray;color: white;border-radius: 5px; border: none;font-family: '微软雅黑';" value="公告">
								&nbsp;10月26日外挂使用封禁名单
							</a>
						</li>
						<li>
							<a href="#" title="关于iOS系统剪切板调用问题修复说明">
								<input type="button" style="padding: 2px 6px;background: darkgray;color: white;border-radius: 5px; border: none;font-family: '微软雅黑';" value="公告">
								【公告】&nbsp;关于iOS系统剪切板调用问题修复说明
							</a>
						</li>
					</ul>
				</div>
			</div>
			
		</div>
		<iframe  marginwidth="0" marginheight="0" style="margin: 0; padding: 0;" frameborder="0" scrolling="no" src="/footer.html" height="260px" width="100%"></iframe>

		<script>

			// 帖子详情
			function detail(id) {
				window.location.href="/post/detail/" +　id;
			}
		</script>
	</body>
</html>
